extends ../blocks/master
block content
  br
  .text-center
    img(src=article.imageUrl style='width: 50%; margin-bottom: 10px;')
    h4
      span.text-light= article.title
      span.text-muted (#{article.subtitle})
    p.lead.text-light(style='left: 12.5%; width: 75%; right: 12.5%; position: relative;')= article.description
    h6.text-muted Date issued: #{article.date}