extends ../blocks/master
block content
  br
  .text-center
    img(src=article.imageUrl style='width: 50%; margin-bottom: 10px;')
    h4.text-light= article.title
    h5.text-muted #{article.subtitle}
    p.lead.text-light(style='left: 12.5%; width: 75%; right: 12.5%; position: relative;')= article.description
    h6.text-muted Date issued: #{article.date}