extends ../blocks/master
block content
  h2.text-center Articles that match your search "#{searchParams}"
  hr
  .row
    for article in articles
      if article.title.toLowerCase().includes(searchParams.toLowerCase()) || article.subtitle.toLowerCase().includes(searchParams.toLowerCase()) || article.date.toLowerCase().includes(searchParams.toLowerCase())
        .col-md-4.article
          a.text-decoration-none(href=`/articles/detail/${articles.indexOf(article)}`)
            .bg-white.shadow
              .card-img-top
                .image-wrapper(style='height: 400px;')
                  img(src=article.imageUrl style='object-fit: cover; max-height: 395px; height: 395px; width: 100%;')
              .card-body
                h5.card-title.text-dark #{article.title}
                h6.card-subtitle.mb-2.text-muted #{article.subtitle}
                if article.date.toLowerCase().includes(searchParams.toLowerCase())
                  h6.card-subtitle.mb-2.text-muted #{article.date}